<div class = "row">
    <div class = "col-md-6 col-md-offset-3">
      <h2>Sign up</h2>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class = "input-group">
            <span class = "input-group-addon" id="basic-addon1">@</span>
            <%= f.input :email, label: false, require: true, autofocus: true, placeholder: "Email" %>
        </div>

        <br>

        <div class = "input-group">
            <div class = "input-group-addon" id="basic-addon1">
                <span class = "glyphicon glyphicon-user"></span>
            </div>
            <%= f.input :name, label: false, require: true, autofocus: true, placeholder: "Name" %>
        </div>
        <br>
        <div class = "input-group">
            <div class = "input-group-addon" id="basic-addon1">
                <span class = "glyphicon glyphicon-certificate"></span>
            </div>
            <%= f.input :password, label: false, require: true, autofocus: true, placeholder: "Password" %>
        </div>
        <br>
        <div class = "input-group">
            <div class = "input-group-addon" id="basic-addon1">
                <span class = "glyphicon glyphicon-certificate"></span>
            </div>
            <%= f.input :password_confirmation, label: false, require: true, autofocus: true, placeholder: "Password Confirmation" %>
        </div>

      <br>
      <div class="form-actions">
        <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
      </div>
    <% end %>
    <br>
    <%= render "devise/shared/links" %>
    </div>
</div>

