.main_content 
  #post_show.row
    .col-md-8.col-md-offset-2
      .panel.panel-default
        .panel-body
          = simple_form_for [@user, @post] do |f|
            - if @post.errors.any?
              #errors
                %p
                  = pluralize(@post.errors.count, "error")
                  prevented this post from saving.
                - @post.errors.each do |msg|
                  %ul
                    %li= msg
            .col-md-8
              = f.input :text,label: false, placeholder: "Write something...", input_html: {class: 'form-control'}
              = f.input :image, label: false, placeholder: "Upload Photo", input_html: {class: 'form-control'}
              - if !@post.image_file_name.nil?
                = image_tag @post.image.url(:medium), class: 'image'
              = f.input :circle_id,label: false, collection: @circles, label_method: :circle_name, value_method: :id, prompt: "Choose a circle", class: "from-control"
              = f.input :location_save, label: "Check In", as: :boolean
            .col-md-4
              - if @post.errors.any?
                .error-btn= f.button :submit, "POST", class: "btn btn-primary"
              - else
                .post-btn= f.button :submit, "POST", class: "btn btn-primary"
  .row.col-md-6.col-md-offset-2
    %h2 Friends' Posts
  - @posts.each do |post|
    - if post.circle.nil? || (!current_user.inverse_friendships.where(user_id: post.user).empty? && post.circle == current_user.inverse_friendships.where(user_id: post.user).first.circle)
      #post_show.row
        .col-md-8.col-md-offset-2
          .panel.panel-default
            - if !post.image_file_name.nil?
              .panel-heading.post_image
                = link_to (image_tag post.image.url(:medium)), [@user, post]
              .panel-body
                %p= post.text
            - elsif post.location_save?
              .panel-heading.post_image
                = link_to (image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{post.location.latitude}%2C#{post.location.longitude}"), [@user, post]
              .panel-body
                %p= post.text
            - else 
              .panel-body
                %p.description
                  = link_to post.text, [@user, post]
            .panel-footer
              .row
                - if post.location_save?
                  %p
                    %strong= post.user.name
                    Check in at
                    %strong= post.location.address
                    = time_ago_in_words(post.created_at)
                - else
                  %p.user
                    Submitted by
                    %strong= post.user.name
                    = time_ago_in_words(post.created_at)
                    ago
  .col-md-8.col-md-offset-2= paginate @posts
