- if @users.count == 0 && @posts.count == 0
  .container
    = content_tag :div, "There is no result matched!", class: "alert"
- else
  .row
    %h2 Users
  .row
    - if @users.count == 0
      .container
        = content_tag :div, "There is no user matched!", class: "alert"
    - else
      - @users.each do |user|
        - if user != current_user
          .col-sm-6.col-md-3
            #post_show.thumbnail
              .panel.panel-default.panel-heading.post_image
                = link_to (gravatar_for user), user
              .search-show
                %p
                  %strong= link_to user.name, user
                  %br/
                  .description= user.email
  .row
    %h2 Posts
  - if !@nearby
    - if @posts.count == 0
      .container
        = content_tag :div, "There is no post matched!", class: "alert"
    - else
      - @posts.each do |post|
        - if post.user == current_user || post.circle.nil? || (!current_user.inverse_friendships.where(user_id: post.user).empty? && post.circle == current_user.inverse_friendships.where(user_id: post.user).first.circle)
          #post_show.row
            .col-md-8.col-md-offset-2
              .panel.panel-default
                - if !post.image_file_name.nil?
                  .panel-heading.post_image
                    = link_to (image_tag post.image.url(:medium)), [post.user, post]
                  .panel-body
                    %p.description= post.text
                - elsif post.location_save?
                  .panel-heading.post_image
                    = link_to (image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{post.location.latitude}%2C#{post.location.longitude}"), [post.user, post]
                  .panel-body
                    %p.description= post.text
                - else
                  .panel-body
                    %p.description
                      = link_to post.text, [post.user,post]
                .panel-footer
                  .row
                    - if post.location_save?
                      %p
                        %strong= post.user.name
                        check in at
                        %strong= post.location.address
                        = time_ago_in_words(post.created_at)
                        ago
                    - else
                      %p.user
                        Submitted by
                        %strong= post.user.name
                        = time_ago_in_words(post.created_at)
                        ago
  - else
    - if @posts.empty?
      .container
        = content_tag :div, "There is no post matched!", class: "alert"
    - else
      - @posts.each do |post|
        - if post.user == current_user || post.circle.nil? || (!current_user.inverse_friendships.where(user_id: post.user).empty? && post.circle == current_user.inverse_friendships.where(user_id: post.user).first.circle)
          #post_show.row
            .col-md-8.col-md-offset-2
              .panel.panel-default
                - if !post.image_file_name.nil?
                  .panel-heading.post_image
                    = link_to (image_tag post.image.url(:medium)), [post.user, post]
                  .panel-body
                    %p= post.text
                - elsif post.location_save?
                  .panel-heading.post_image
                    = link_to (image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{post.location.latitude}%2C#{post.location.longitude}"), [post.user, post]
                  .panel-body
                    %p.description= post.text
                - else 
                  .panel-body
                    %p.description
                      = link_to post.text, [post.user, post]
                .panel-footer
                  .row
                    - if post.location_save?
                      %p
                        %strong= post.user.name
                        check in at
                        %strong= post.location.address
                        = time_ago_in_words(post.created_at)
                        ago
                    - else 
                      %p.user
                        Submitted by
                        %strong= post.user.name
                        = time_ago_in_words(post.created_at)
                        ago
.col-md-8.col-md-offset-2= paginate @posts
