- current_user.friends.all.each do |friend|
  - if friend == @user
    - @isFriend = true

- current_user.inverse_friends.all.each do |friend|
  - if friend == @user
    - @isFriend = true

-# - current_user.friendships.all.each do |friendship|
-#   - if friendship.friend == @user
-#     - @friendship = friendship

- current_user.requests.all.each do |request|
  - if request.to == @user
    - @sentRequest = true

#post_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      .panel-body
        - provide(:name, @user.name)
        %h1
          = gravatar_for @user
          - if @user == current_user
            = link_to @user.name, edit_user_registration_path
          - else
            = @user.name

        %p.description
          Email:
          = @user.email
        - if @user == current_user
          = link_to "My Circles", circles_path, class: "btn btn-default btn-sm"
        - if @user != current_user && !@isFriend && !@sentRequest
          = link_to "Add Friend", requests_create_path(to_id: @user), method: :post, class: "btn btn-info btn-sm"
        - elsif @user != current_user && @sentRequest
          = link_to "Add Friend", requests_create_path(to_id: @user), method: :post, class: "btn btn-info btn-sm", disabled: "disabled"
        - elsif @user !=current_user && @isFriend
          = link_to "Remove friend ", friendships_destroy_path(friendship_id: @friendship, inverse_friendship_id: @inverseFriendship), method: :delete, class: "btn btn-info btn-sm"

- @posts.each do |post|
  - if post.user == current_user || post.circle.nil? || (!current_user.inverse_friendships.where(user_id: post.user).empty? && post.circle == current_user.inverse_friendships.where(user_id: post.user).first.circle)
    #post_show.row
      .col-md-8.col-md-offset-2
        .panel.panel-default
          - if !post.image_file_name.nil?
            .panel-heading.post_image
              = link_to (image_tag post.image.url(:medium)), [@user, post]
            .panel-body
              %p= post.text
          - elsif post.location_save?
            .panel-heading.post_image
              = link_to (image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{post.location.latitude}%2C#{post.location.longitude}"), [@user, post]# "http://maps.google.com/maps?q=#{post.location.latitude},#{post.location.longitude}"
            .panel-body
              %p.description
                = post.text
          - else 
            .panel-body
              %p.description
                = link_to post.text, [@user, post]
          .panel-footer
            .row
              .col-md-12
                - if post.location_save != nil && post.location_save?
                  %p
                    Check in at
                    %strong= post.location.address
                    = time_ago_in_words(post.created_at)
                    ago
                - else 
                  %p
                    Submitted
                    = time_ago_in_words(post.created_at)
                    ago
.col-md-8.col-md-offset-2= paginate @posts

