#post_show.row
  .col-md-8.col-md-offset-2
    .panel.panel-default
      - if !@post.image_file_name.nil?
        .panel-heading.post_image
          = image_tag @post.image.url(:medium)
      - elsif @post.location_save?
        .panel-heading.post_image
          = link_to (image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@post.location.latitude}%2C#{@post.location.longitude}"), [@user, @post]
      .panel-body
        %p.description= @post.text
      .panel-footer
        .row
          .col-md-7
            - if @post.location_save?
              %p
                %strong= @post.user.name
                Check in at
                %strong= @post.location.address
                = time_ago_in_words(@post.created_at)
            - else 
              %p.user
                Submitted by
                %strong= @post.user.name
                = time_ago_in_words(@post.created_at)
                ago
          .col-md-5
            .btn-group.pull-right
              - if current_user == @post.user
                = link_to "Edit", edit_user_post_path, class: "btn btn-default"
                = link_to "Destroy", user_post_path, method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-default"
              = link_to "Back", :back, class: "btn btn-default"

