%h1 Circles
.row
  .col-md-8.col-md-offset-2
    = simple_form_for current_user.circles.build do |f|
      .col-md-7
        = f.input :circle_name, input_html: {class: 'form-control'}
      .col-md-5.circle-btn
        = f.button :submit, class: "btn btn-primary"
.row
  - @circles.each do |circle|
    .col-md-3
      .panel.panel-default
        .panel-body
          %h4= circle.circle_name
        .panel-footer
          .btn-group
            = link_to "Edit", edit_circle_path(circle), class: "btn btn-default"
            = link_to "Delete", circle, method: :delete, class: "btn btn-default"



